fastapi
uvicorn
httpx
sqlalchemy>=2.0
asyncpg
python-dotenv
pytesseract
pillow
ollama
python-multipart
pydantic
psycopg2-binary
pgvector
google-generativeai
sentence-transformers
greenlet
google-genai>=1.0.0
